[submodule "visualizer/projectm/third_party/projectm"]
	path = visualizer/projectm/third_party/projectm
	url = https://github.com/projectM-visualizer/projectm.git
[submodule "visualizer/avs/third_party/projectm-eval"]
	path = visualizer/avs/third_party/projectm-eval
	url = https://github.com/projectM-visualizer/projectm-eval.git
